// Main Colors
$blueSapphire: #2E5266;
$lightStateGray: #6E8898;
$cadetGray: #9FB1BC;
$timberWolf: #D3D0CB;
$maizeCrayola: #E2C044;

// Font Weights
$font-weights: ("light": 200,
    "regular": 300,
    "medium": 500,
    "bold": 700);

// 