@import 'variables';
@import 'typography';

@import 'animations/typewriter';

@import 'components/buttons';
@import 'components/highlights';

@import 'layout/footer';
@import 'layout/forms';
@import 'layout/nav';

@import 'pages/home';
@import 'pages/pokemonPage';

* {
    box-sizing: border-box;
    font-family: 'VT323', arial;
}

body {
    background-color: $timberWolf;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}