.pixel-font {
  font-family: 'VT323';
  font-weight: 400;
}

.typewriter .target-typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .10em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  -webkit-animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.target-typewriter {
  display: inline-block;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #6E8898;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #6E8898;
  }
}

.pokemon_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem !important;
  padding: 1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  width: 70px;
  color: white;
  border-radius: 25px;
  border: 1.7px solid black;
}

.pokemon_type_fire {
  background-color: #EE8130;
}

.pokemon_type_water {
  background-color: #6390F0;
}

.pokemon_type_electric {
  background-color: #F7D02C;
}

.pokemon_type_grass {
  background-color: #7AC74C;
}

.pokemon_type_ice {
  background-color: #96D9D6;
}

.pokemon_type_fighting {
  background-color: #C22E28;
}

.pokemon_type_poison {
  background-color: #A33EA1;
}

.pokemon_type_ground {
  background-color: #E2BF65;
}

.pokemon_type_flying {
  background-color: #A98FF3;
}

.pokemon_type_psychic {
  background-color: #F95587;
}

.pokemon_type_bug {
  background-color: #A6B91A;
}

.pokemon_type_rock {
  background-color: #B6A136;
}

.pokemon_type_ghost {
  background-color: #735797;
}

.pokemon_type_dragon {
  background-color: #6F35FC;
}

.pokemon_type_dark {
  background-color: #705746;
}

.pokemon_type_steel {
  background-color: #B7B7CE;
}

.pokemon_type_fairy {
  background-color: #D685AD;
}

nav {
  width: 100%;
  background-color: #E2C044 !important;
}

nav ul {
  width: 100%;
}

nav #searchBar {
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 200px;
  margin-left: auto;
}

nav #searchBar #search-addon {
  padding-left: 8px;
  padding-right: 8px;
}

nav #searchBar #search-addon .material-icons {
  font-size: 20px;
}

nav #searchBar #search-addon:hover {
  cursor: pointer;
  background: #9FB1BC;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.navbar-custom {
  background-color: #E2C044;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-info {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.home-info p {
  margin-bottom: 0;
  font-size: 1.3rem;
}

.home-pokemon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5rem;
}

.home-pokemon-object {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border: 1px solid #6E8898;
}

.home-pokemon-object a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #2E5266;
}

.home-pokemon-object-pokeID {
  position: absolute;
  font-size: 1.3rem !important;
}

.home-pokemon-object-name {
  font-size: 1.8rem !important;
  letter-spacing: 2px;
}

.home-pokemon-object-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-pokemon-object-types span {
  margin-right: 0.2rem;
}

.home-pokemon-object img {
  padding-top: 0.4rem;
  width: 150px;
}

.home-pokemon-object span {
  text-align: center;
  font-size: 0.8rem;
}

.home-pokemon-object:hover {
  background-color: #9FB1BC;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pokedex {
  font-size: 1.4rem;
}

.pokedex header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.pokedex header h1 {
  text-decoration: underline;
}

.pokedex table,
.pokedex thead,
.pokedex tr,
.pokedex th,
.pokedex td {
  border: 2px solid #6E8898;
  text-align: center;
}

.pokedex thead:hover {
  background-color: #E2C044;
}

.pokedex tr:hover {
  background-color: #E2C044;
}

.pokedex-img-cell {
  padding-bottom: 1.5rem !important;
}

.pokedex a {
  text-decoration: underline;
  color: #2E5266;
}

.pokedex a:hover {
  color: #6E8898;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.pokedex-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokedex-types span {
  margin-right: 0.2rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'VT323', arial;
}

body {
  background-color: #D3D0CB;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */