.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    align-self: flex-start;

    p {
        margin-bottom: 0;
        font-size: 1.3rem;
    }
}

.home-pokemon {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 0.5rem;

    &-object {
        display: inline-flex;
        flex-direction: column;
        padding: 0.5rem;
        padding-bottom: 1rem;

        border: 1px solid $lightStateGray;

        a {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: $blueSapphire;
        }

        &-pokeID {
            position: absolute;
            font-size: 1.3rem !important;
        }

        &-name {
            font-size: 1.8rem !important;
            letter-spacing: 2px;
        }

        &-types {
            display: flex;
            justify-content: center;

            span {
                margin-right: 0.2rem;
            }
        }

        img {
            padding-top: 0.4rem;
            width: 150px;
        }

        span {
            text-align: center;
            font-size: 0.8rem;
        }
    }

    &-object:hover {
        background-color: $cadetGray;
        transition: 0.2s;
    }
}