.pokedex {
    font-size: 1.4rem;

    header {
        margin-top: 1rem;
        margin-bottom: 0.5rem;

        h1 {
            text-decoration: underline;
        }
    }

    thead {
        background-color: $maizeCrayola;
    }

    table,
    thead,
    tr,
    th,
    td {
        border: 2px solid $lightStateGray;
        text-align: center;
    }

    tr:hover {
        background-color: $maizeCrayola;
    }

    &-img-cell {
        // padding-bottom: 1rem !important;

        img {
            width: 80px;
            margin-top: -2rem;
        }
    }

    a {
        text-decoration: underline;
        color: $blueSapphire;
    }

    a:hover {
        color: $lightStateGray;
        transition: 0.1s;
    }

    &-types {
        display: flex;
        justify-content: center;

        span {
            margin-right: 0.2rem;
        }
    }
}