// Pokemon types
.pokemon_type {
    display: flex;
    justify-content: center;

    font-size: 1.2rem !important;

    padding: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

    width: 70px;

    color: white;

    border-radius: 25px;
    border: 1.7px solid black;

    &_normal {
        background-color: map-get($pokemonTypes, normal);
    }

    &_fire {
        background-color: map-get($pokemonTypes, fire);
    }

    &_water {
        background-color: map-get($pokemonTypes, water);
    }

    &_electric {
        background-color: map-get($pokemonTypes, electric);
    }

    &_grass {
        background-color: map-get($pokemonTypes, grass);
    }

    &_ice {
        background-color: map-get($pokemonTypes, ice);
    }

    &_fighting {
        background-color: map-get($pokemonTypes, fighting);
    }

    &_poison {
        background-color: map-get($pokemonTypes, poison);
    }

    &_ground {
        background-color: map-get($pokemonTypes, ground);
    }

    &_flying {
        background-color: map-get($pokemonTypes, flying);
    }

    &_psychic {
        background-color: map-get($pokemonTypes, psychic);
    }

    &_bug {
        background-color: map-get($pokemonTypes, bug);
    }

    &_rock {
        background-color: map-get($pokemonTypes, rock);
    }

    &_ghost {
        background-color: map-get($pokemonTypes, ghost);
    }

    &_dragon {
        background-color: map-get($pokemonTypes, dragon);
    }

    &_dark {
        background-color: map-get($pokemonTypes, dark);
    }

    &_steel {
        background-color: map-get($pokemonTypes, steel);
    }

    &_fairy {
        background-color: map-get($pokemonTypes, fairy);
    }
}

.pokemon_gene {
    border: 1.5px solid rgb(46, 46, 46);
    font-size: 1rem;
    color: white;
    display: inline-block;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-radius: 5px;
}

.pokemon_border {
    &_normal {
        border: 10px solid map-get($pokemonTypes, normal);
    }

    &_fire {
        border: 10px solid  map-get($pokemonTypes, fire);
    }

    &_water {
        border: 10px solid  map-get($pokemonTypes, water);
    }

    &_electric {
        border: 10px solid  map-get($pokemonTypes, electric);
    }

    &_grass {
        border: 10px solid  map-get($pokemonTypes, grass);
    }

    &_ice {
        border: 10px solid  map-get($pokemonTypes, ice);
    }

    &_fighting {
        border: 10px solid  map-get($pokemonTypes, fighting);
    }

    &_poison {
        border: 10px solid  map-get($pokemonTypes, poison);
    }

    &_ground {
        border: 10px solid  map-get($pokemonTypes, ground);
    }

    &_flying {
        border: 10px solid  map-get($pokemonTypes, flying);
    }

    &_psychic {
        border: 10px solid  map-get($pokemonTypes, psychic);
    }

    &_bug {
        border: 10px solid  map-get($pokemonTypes, bug);
    }

    &_rock {
        border: 10px solid  map-get($pokemonTypes, rock);
    }

    &_ghost {
        border: 10px solid  map-get($pokemonTypes, ghost);
    }

    &_dragon {
        border: 10px solid  map-get($pokemonTypes, dragon);
    }

    &_dark {
        border: 10px solid  map-get($pokemonTypes, dark);
    }

    &_steel {
        border: 10px solid  map-get($pokemonTypes, steel);
    }

    &_fairy {
        border: 10px solid  map-get($pokemonTypes, fairy);
    }
}